
###> symfony/framework-bundle ###
/.dockerignore
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/phpcs.xml.dist
/phpunit.xml.dist
/composer.lock
/symfony.lock
/config/secrets/prod/prod.decrypt.private.php
/config/packages/
/config/routes/
/config/bootstrap.php
/config/bundles.php
/config/routes.yml
/public/
/var/
/bin/
/vendor/
/.github
/src/Kernel.php
/test/bootstrap.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
